footer {
    width: 100%;
    background-color: #a9dff2;
}
#footer-menu {
    width: 100%;
    border-bottom: 1px solid #fff;
}
#footer-menu ul {
    width: 31%;
    max-height: 79px;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    padding-top: 27px;
    letter-spacing: 0;
    font-size: 17px;
    margin-top: -2px;
    margin-left: 48px;
    margin-bottom: 26px;
}
#middle_footer {
    width: 100%;
    border-bottom: 1px solid #fff;
    display: flex;
}
#left_box ul, #center_box ul, #right_box ul {
    margin-bottom: 11px;
    margin-top: 20px;
}
#left_box {
    width: 42.3%;
}
#left_box ul {
    padding-left: 91px;
}
#left_box ul >li {
    letter-spacing: -1px;
}
#left_box ul >li a {
    padding-left: 3px;
}
#left_box ul li ul,
#center_box ul li ul {
    padding-left: 0;
    padding-top: 21px;
    margin-top: 0;
}
#left_box ul li ul li,
#center_box ul li ul li {
    font-family: 'open_sans';
    font-size: 14px;
    padding-bottom: 13px;
    letter-spacing: 1px;
}
#left_box ul, #center_box ul, #right_box ul {
    list-style: none;
}
#center_box {
    width: 33.3%;
}
#center_box ul {
    padding-left: 42px;
}

#center_box ul li ul li a:hover,
#left_box ul li ul li a:hover,
#footer-menu ul li a:hover {
    cursor: pointer;
    text-decoration: underline;
}
#right_box ul li ul {
    padding: 15px 15px 0 0;
    display: flex;
    justify-content: space-between;
    width: 225px;
}
#right_box ul li ul li {
    background-color: white;
    padding: 5px 8px;
    border-radius: 25px;
    filter: brightness(1);
    transition: filter 0.5s ease,
                box-shadow 0.5s ease;
}
#right_box ul li ul li a {
    font-size: 23px;
    color: #a9dff2;
}
#right_box ul li ul li:hover {
    filter: brightness(0.95);
    box-shadow: -2px 9px 27px 2px rgba(207,207,208,.75);
    cursor: pointer;
}
#right_box ul li ul li:nth-child(2n) {
    padding: 4px 10px;
}
#right_box ul li ul li:nth-child(3n) {
    padding: 5px 12px;
}
#bottom_footer {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#bottom_footer div {
    font-size: 14px;
    position: relative;
    right: 86px;
}
#bottom_footer div:first-child {
    padding-right: 35px;
}
@media screen and (min-width: 1800px) {
    #footer-menu ul {
        margin-left: 150px;
        padding-left: 0;
    }
    #left_box {
        width: 42%;
    }
    #center_box {
        width: 33%;
    }
    #right_box {
        width: 25%;
    }
    #left_box ul {
        padding-left: 148px;
    }
    #right_box ul {
        margin-right: 150px;
        padding-left: 110px;
    }
    #right_box ul li ul {
        width: 100%;
        margin-right: 0;
        padding-right: 0;
    }
    #bottom_footer div {
        right: 150px;
    }
}

@media screen and (max-width: 1200px) {
    #footer-menu ul {
        width: 45%;
    }
}
@media screen and (max-width: 768px) {
    #footer-menu ul {
        width: 55%;
        padding-left: 0;
        margin-left: 37px;
    }
    #left_box ul {
        padding-left: 35px;
    }
    #left_box ul li ul,
    #center_box ul li ul {
        padding-top: 15px;
    }
    #left_box ul li ul li,
    #left_box ul li,
    #center_box ul li ul li,
    #center_box ul li,
    #right_box ul li {
        font-size: 13px;
        padding-bottom: 7px;
        letter-spacing: 0;
    }
    #right_box ul li ul {
        margin-top: 0;
    }
    #right_box ul li ul li a {
        font-size: 18px;
    }
    #bottom_footer div {
        font-size: 13px;
        right: 66px;
    }
}
@media screen and (max-width: 640px) {
    #footer-menu ul {
        width: 100%;
        justify-content: space-around;
        margin-left: 0;
        padding-left: 0;
        font-size: 15px;
        padding-top: 18px;
        margin-bottom: 18px;
    }
    #middle_footer {
        justify-content: space-around;
    }
    #left_box {
        width: 45%;
    }
    #center_box {
        width: 25%;
    }
    #right_box {
        width: 40%;
    }
    #left_box ul,
    #center_box ul,
    #right_box ul {
        padding-left: 15px;
        margin-bottom: 0;
        margin-top: 10px;
    }
    #right_box ul {
        padding-right: 15px;
    }
    #left_box ul li ul li,
    #left_box ul li,
    #center_box ul li ul li,
    #center_box ul li,
    #right_box ul li {
        font-size: 10px;
    }
    #right_box ul li ul {
        width: 100%;
    }
    #right_box ul li ul li {
        padding: 5px 7px;
    }
    #right_box ul li ul li:nth-child(2n) {
        padding: 4px 8px;
    }
    #right_box ul li ul li:nth-child(3n) {
        padding: 5px 10px;
    }
    #right_box ul li ul li a {
        font-size: 13px;
    }
    #bottom_footer {
        height: 45px;
    }
    #bottom_footer div {
        font-size: 9px;
        right: 46px;
    }
    #bottom_footer div:first-child {
        padding-right: 25px;
    }
}
@media screen and (max-width: 414px) {
    #footer-menu ul {
        font-size: 13px;
        padding-top: 13px;
        margin-bottom: 13px;
    }
    #left_box {
        width: 35%;
    }
    #center_box {
        width: 20%;
    }
    #right_box {
        width: 45%;
    }
    #left_box ul li ul li,
    #left_box ul li,
    #center_box ul li ul li,
    #center_box ul li,
    #right_box ul li {
        font-size: 8px;
    }
    #right_box ul li ul li {
        padding: 5px 6px;
    }
    #right_box ul li ul li:nth-child(2n) {
        padding: 4px 7px;
    }
    #right_box ul li ul li:nth-child(3n) {
        padding: 5px 8px;
    }
    #right_box ul li ul li a {
        font-size: 11px;
    }
    #bottom_footer {
        height: 30px;
    }
    #bottom_footer div {
        font-size: 8px;
        right: 20px;
    }
    #bottom_footer div:first-child {
        padding-right: 15px;
    }
}