.main {
    width: 100%;
    height: 1150px;
    background-image: url("/nina-iaremenko-jsfw1-basis/stage5/images/main.png");
    background-repeat: no-repeat;
    background-size: cover;
}
form {
    margin: 0 auto;
    max-width: 536px;
    padding-top: 53px;
    padding-left: 40px;
    padding-right: 40px;
}
form fieldset {
    padding: 26px 28px 0 30px;
    border: none;
    background-color: white;
    box-shadow: 5px -7px 24px 0 rgba(236,236,236, 1);
}
form fieldset label {
    letter-spacing: 1px;
    padding-left: 1px;
    color: #666;
}
form fieldset input {
    width: 98.6%;
    max-width: 470px;
    height: 33px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #b7b7b7
}
form fieldset #phone_container {
    margin-top: 2px;
    margin-bottom: 5px;
}
#phone_container .form-group {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}
#phone_container .form-group:first-child {
    align-items: flex-end;
}
#phone_container .form-group:nth-child(2n) {
    align-items: flex-start;
}
#phone_container .form-group .form-control:first-child {
    flex: 1 1 100%;
    box-sizing: border-box;
}
#phone_container .form-group .form-control:nth-child(2n) {
    margin-left: 20px;
}

#phone_container .phones {
    height: 39px;
    margin-top: 7px;
    box-sizing: border-box;
}
#phone0, #phone1 {
    width: 100%;
}
#phone_container .form-group .form-control:first-child #phone1 {
    margin-top: 0;
}
#plus, #delete_phone {
    min-width: 108px;
    height: 39px;
    border-radius: 2px;
    filter: brightness(1);
    transition: filter 0.5s ease;
}
#plus {
    background-color: #f6f6f6;
    border: 1px solid #b7b7b7;
}
#phone_container #plus:hover, #phone_container #delete_phone:hover {
    cursor: pointer;
    filter: brightness(0.9);
}
#delete_phone {
    margin-top: 0;
    background-color: #d92727;
    border: 1px solid #d92727;
    color: white;
    font-size: 12px;
}
#phone_container #delete_phone:hover {
    color: white;
}
#photo {
    display: none;
}
#foto_container {
    margin-top: 3px;
}
#foto_container span {
    color: #666;
    letter-spacing: 1px;
    padding-left: 2px;
}
#label-photo-box {
    width: 98.6%;
    margin-top: -15px;
    max-width: 470px;
    height: 127px;
    text-align: center;
    vertical-align: center;
    border: 1px solid #b7b7b7;
}
#label-photo-box img {
    margin-top: 31px;
    filter: brightness(1);
    transition: filter 0.5s ease;
}
#label-photo-box img:hover {
    cursor: pointer;
    filter: brightness(0.9);
}
#resume_box {
    margin-top: -7px;
}
fieldset #resume_box textarea {
    margin-top: 7px;
    width: 98%;
    max-height: 300px;
    min-height: 277px;
    border: 1px solid #b7b7b7;
}
@media screen and (min-width: 2000px) {
    #resume_box {
        margin-top: 10px;
    }
}
@media screen and (min-width: 1800px) {
    #resume_box {
        margin-top: 5px;
    }
    form fieldset #phone_container {
        margin-top: 0;
        margin-bottom: 0;
    }
    #phone_container .phones {
        margin-top: 5px;
    }
    #foto_container {
        margin-top: 0;
    }
    #resume_box {
        margin-top: 0;
    }
    fieldset #resume_box textarea {
        margin-top: 5px;
    }
}
@media screen and (max-width: 640px) {
    form {
        max-width: 500px;
        padding-top: 53px;
        padding-left: 20px;
        padding-right: 20px;
    }
    form fieldset input {
        height: 28px;
    }
    #phone_container .phones {
        height: 34px;
    }
    #plus, #delete_phone {
        min-width: 88px;
        height: 34px;
    }
}
@media screen and (max-width: 414px) {
    #plus, #delete_phone {
        min-width: 58px;
    }
    #phone_container .form-group .form-control:nth-child(2n) {
        margin-left: 15px;
    }
}
