footer {
    width: 100%;
    background-color: #a9dff2;
}
#footer-menu {
    width: 100%;
    border-bottom: 1px solid #fff;
}
#footer-menu ul {
    width: 31%;
    max-height: 79px;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    padding-top: 27px;
    letter-spacing: 0;
    font-size: 17px;
    margin-top: -2px;
    margin-left: 48px;
    margin-bottom: 26px;
}
#middle_footer {
    width: 100%;
    border-bottom: 1px solid #fff;
    display: flex;
}
#left_box ul, #center_box ul, #right_box ul {
    margin-bottom: 11px;
    margin-top: 20px;
}
#left_box {
    width: 42.3%;
}
#left_box ul {
    padding-left: 91px;
}
#left_box ul >li {
    letter-spacing: -1px;
}
#left_box ul >li a {
    padding-left: 3px;
}
#left_box ul li ul,
#center_box ul li ul {
    padding-left: 0;
    padding-top: 21px;
    margin-top: 0;
}
#left_box ul li ul li,
#center_box ul li ul li {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding-bottom: 13px;
    letter-spacing: 1px;
}
#left_box ul, #center_box ul, #right_box ul {
    list-style: none;
}
#center_box {
    width: 33.3%;
}
#center_box ul {
    padding-left: 42px;
}

#center_box ul li ul li a:hover,
#left_box ul li ul li a:hover,
#footer-menu ul li a:hover {
    cursor: pointer;
    text-decoration: underline;
}
#right_box ul li ul {
    padding-left: 0;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    width: 225px;
}
#right_box ul li ul li {
    background-color: white;
    padding: 5px 8px;
    border-radius: 25px;
}
#right_box ul li ul li a {
    font-size: 23px;
    color: #a9dff2;
}
#right_box ul li ul li:hover {
    box-shadow: -2px 9px 27px 2px rgba(207,207,208,.75);
    cursor: pointer;
}
#right_box ul li ul li:nth-child(2n) {
    padding: 4px 10px;
}
#right_box ul li ul li:nth-child(3n) {
    padding: 5px 12px;
}
#bottom_footer {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#bottom_footer div {
    font-size: 14px;
    position: relative;
    right: 86px;
}
#bottom_footer div:first-child {
    padding-right: 35px;
}