@font-face {
    font-family: 'open_sans';
    src: url('/nina-iaremenko-jsfw1-basis/stage3/fonts/OpenSans-Regular.ttf') format('truetype');

    font-weight: 400;
    font-style: normal;
}


nav ul li .sub-menu {
    font-size: 14px;
    position: absolute;
    z-index: 5;
    min-width: 110px;
    background: #75d8f2;
    visibility: hidden;
    opacity: 0;
    transform-origin: 0% 0%;
    transform: rotateX(-90deg);
    transition: 0.5s linear;
    margin-left: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}
#authorization {
    font-weight: 400;
    padding: 10px 22px 12px 21px;
    background-color: #d92727;
    border: 1px solid #d92727;
    color: #fff;
    position: absolute;
    right: 39px;
    letter-spacing: 0.5px;
    transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out;
}
body {
    max-width: 100%;
    color: #212b35;
    font-family: 'open_sans';
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}
.wrapper {
    width: 100%;
    font-family: 'open_sans';
    font-size: 16px;
    font-weight: 400;
}
a {
    color: #212b35;
    text-decoration: none;
}

.container {
    width: 100%;
    min-height: 100px;
    background-color: #a9dff2;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo {
    width: 20.3%;
    text-align: center;
}
nav {
    width: 36.6%;
    padding-left: 20px;
}
nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding-left: 0;
    letter-spacing: 0.6px;
    font-size: 17px;
    margin-top: 14px;
}
nav ul >li {
    position: relative;
    font-size: 17px;
}
nav ul >li a {
    position: relative;
    transition: 0.5s ease;
}
nav ul >li a:hover {
    text-decoration: underline;
}
nav ul >li a img {
    padding-left: 2px;
    padding-bottom: 2px;
}
/*nav ul >li a:before {*/
/*    position: absolute;*/
/*    content: '';*/
/*    height: 1px;*/
/*    bottom: -4px;*/
/*    margin: 0 auto;*/
/*    left: 0;*/
/*    right: 0;*/
/*    width: 0;*/
/*    background: #212b35;*/
/*    -o-transition:.5s;*/
/*    -ms-transition:.5s;*/
/*    -moz-transition:.5s;*/
/*    -webkit-transition:.5s;*/
/*    transition:.5s;*/
/*}*/
/*nav >li a:hover:before {*/
/*    width: 100%;*/
/*}*/

.sub-menu li {
    padding-top: 10px;
}
.sub-menu li:hover {
    text-decoration: underline;
}
nav ul li:hover .sub-menu {
    transform: rotateX(0deg);
    visibility: visible;
    opacity: 1;
}

#authorization:hover {
    cursor: pointer;
    background-color: #c82333;
    border-color: #bd2130;
}

