.main {
    width: 100%;
    height: 1150px;
    background-image: url("/nina-iaremenko-jsfw1-basis/stage3/images/main.png");
}
form {
    margin: 0 auto;
    max-width: 536px;
    padding-top: 53px;
    padding-left: 40px;
    padding-right: 40px;
}
form fieldset {
    padding: 28px 28px 0 30px;
    border: none;
    background-color: white;
    box-shadow: 5px -7px 24px 0 rgba(236,236,236, 1);
}

form fieldset label {
    letter-spacing: 1px;
    padding-left: 1px;
    color: #666;
}
form fieldset input {
    width: 98.6%;
    max-width: 470px;
    height: 33px;
    margin-top: 7px;
}
form fieldset #phone_container {
    margin-top: 2px;
    margin-bottom: 3px
}
#phone_container .phones {
    width: 98.7%;
    max-width: 341px;
    height: 33px;
    /* padding-top: 5px; */
    margin-top: 7px;
}
#phone_container #phone1 {
    width: 98.7%;
    max-width: 341px;
    height: 33px;
    margin-top: 15px;
}
#phone_container #plus {
    width: 98.7%;
    max-width: 107px;
    height: 39px;
    margin-left: 15px;
    background-color: #f6f6f6;
    border: 1px solid #b7b7b7;
    border-radius: 2px;
}
#phone_container #delete_phone {
    width: 98.7%;
    max-width: 107px;
    height: 39px;
    margin-left: 15px;
    background-color: #d92727;
    border: 1px solid #d92727;
    border-radius: 2px;
    color: white;
    font-size: 12px;
}

#photo {
    display: none;
}
#foto_container {
    margin-top: 3px;
}
#foto_container span {
    color: #666;
    letter-spacing: 1px;
    padding-left: 2px;
}
#label-photo-box {
    width: 98.6%;
    margin-top: -10px;
    max-width: 470px;
    height: 127px;
    text-align: center;
    vertical-align: center;
    border: 1px solid #b7b7b7;
}
#label-photo-box img {
    margin-top: 31px;
}
fieldset textarea {
    margin-top: 7px;
    max-width: 470px;
    max-height: 277px;
}
